* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 1em;
}
.deposit {
  width: 18em;
  height: 12em;
  margin: 2em;
  background: aquamarine;
}
.withdraw {
  width: 18em;
  height: 12em;
  margin: 2em;
  background-color: aqua;
}
.balance {
  width: 18em;
  height: 12em;
  margin: 2em;
  background-color: rgb(237, 237, 82);
}
.first-section {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
  text-align: center;
}
.first-section h2 {
  font-size: 2.5rem;
  margin-top: 1em;
}
/* section 2 */
.please-deposit {
  width: 28em;
  height: 12em;
  background-color: antiquewhite;
  margin: 0 0 3em 3.5em;
}
.section-two {
  padding: 0 3em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.please-withdraw {
  width: 28em;
  height: 12em;
  background-color: darkviolet;
  margin: 0 4.5em 3em 0 !important;
}
.section-two h3 {
  margin-top: 0.5em;
  font-size: 2rem;
}
.section-two button {
  padding: 1em 2em;
  background: tomato;
  border: none;
  color: white;
  margin: 1em;
}
#deposit-number {
}
#withdraw-number,
#deposit-number {
  margin: 1em;
  padding: 1em;
  border: none;
}
